.slider {
    margin-bottom: 4em;
    position: relative;
}

.carousel-title {
    bottom: 5.6em;
    font-size: 1.8em;
    padding: 0.6em;
}

.carousel-button {
    background-color: $color-secondary;
    border-collapse: $color-secondary; 
}
