$fa-font-path: '~font-awesome/fonts';
$font-stack: 'Ubuntu', sans-serif;
$font-stack-title: 'Baloo', cursive;

$color-primary: #3a3a3a;
$color-secondary: #3b85bf;
$color-ternary: #ffffff;

$color-footer-widget: #d2d2d2;


$color-banner-background-text: #000;
